<!DOCTYPE html>
<html>
<head>
	<title>Images</title>
	<script
	src="https://code.jquery.com/jquery-3.2.1.min.js"
	integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	crossorigin="anonymous"></script>

</head>
<body>
	<h1>Images - JavaScript</h1>

	<div id="imagesDiv">
		
	</div>

	<button id="imagesButton">New Random Images</button>
		

	<script type="text/javascript">
		
		$('#imagesButton').click(function(){
			$('#imagesDiv').empty();
			// alert('getting images');
			$.get('/api/rand-images', function(data) {
				console.log(data);
				$.each(data, function(key, value){
					$('#imagesDiv').append('<img src="' + value + '" />');
				})
			});
		});		
		
	</script>		
</body>
</html>